// components/_button.scss
@use "../abstracts/variables";

.button {
  display: inline-block;
  padding: 0.6em 1.2em;
  border: 1px solid transparent;
  border-radius: 8px;
  font: inherit;
  cursor: pointer;
  background: variables.$color-bg-dark;
  color: variables.$color-text-light;
  transition: border-color 0.25s;

  &:hover {
    border-color: variables.$color-primary;
  }
}
@media (prefers-color-scheme: light) {
  .button {
    background: variables.$color-bg-light;
    color: variables.$color-text-dark;
  }
}
